<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Monat auswählen</a>
  </li>
  <div *ngFor="let month of months">
    <li class="nav-item">
      <div class="box" routerLinkActive="active">
        <a class="nav-link nav-nav" [routerLink]="['months', month]">
          {{ dateService.getMonthNameDE(month) }}
        </a>
        <div class="space">
          <span style="--i: 31" class="star"></span>
          <span style="--i: 12" class="star"></span>
          <span style="--i: 57" class="star"></span>
          <span style="--i: 93" class="star"></span>
          <span style="--i: 23" class="star"></span>
          <span style="--i: 70" class="star"></span>
          <span style="--i: 6" class="star"></span>
        </div>
      </div>
    </li>
  </div>
</ul>
