<div *ngIf="loaded else loading" style="display: flex; align-items: center; justify-content: center; width: 100%">
  <div>
    <div id="account-balance">
      <button type="button" class="btn">
        <strong>
          Kontostand: {{ currencyManagementService.numberInEUR(balance) }} | {{ this.currencyManagementService.numberInVND(Math.round(balance * rate)) }}
        </strong>
      </button>
    </div>
    <app-graph [title]="title"
               [vcbDataPoints]="dataPoints"
               [xTitle]="xTitle"
               [yTitle]="yTitle"/>
  </div>
</div>

<ng-template #loading>
  <app-loader/>
</ng-template>
