.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  cursor: pointer;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


